@if (item) {
  <app-modal [title]="labels.validation.consultation.title" size="large" (closed)="closed.emit()">
    <section class="item-details">
      <p class="eyebrow">{{ item.category }}</p>
      <h3>{{ item.title }}</h3>

      <dl>
        <div>
          <dt>{{ labels.common.table.person }}</dt>
          <dd>{{ item.userLabel }}</dd>
        </div>
        <div>
          <dt>{{ labels.common.table.start }}</dt>
          <dd>{{ formatDateTime(item.startDate) }}</dd>
        </div>
        <div>
          <dt>{{ labels.common.table.end }}</dt>
          <dd>{{ formatDateTime(item.endDate) }}</dd>
        </div>
        <div>
          <dt>{{ labels.validation.consultation.currentVisa }}</dt>
          <dd>
            @if (item.visa.signed) {
              {{ item.visa.signedByName }} - {{ formatDateTime(item.visa.signedAt) }}
            } @else {
              {{ labels.common.statuses.notSigned }}
            }
          </dd>
        </div>
      </dl>

      @if (item.visa.signatureValue && item.visa.signatureMode !== "name") {
        <img class="visa-preview" [src]="item.visa.signatureValue" alt="Visa" />
      } @else if (item.visa.signed) {
        <p class="name-visa">{{ item.visa.signatureValue || item.visa.signedByName }}</p>
      }

      <section class="progress-section" aria-labelledby="visa-progress-title">
        <h4 id="visa-progress-title">{{ labels.validation.consultation.progressTitle }}</h4>

        <p-table [value]="progressItems" styleClass="progress-table" [tableStyle]="{ 'min-width': '56.25rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th>{{ labels.common.table.role }}</th>
              <th>{{ labels.common.table.person }}</th>
              <th>{{ labels.common.table.period }}</th>
              <th>{{ labels.common.table.status }}</th>
              <th>{{ labels.common.table.date }}</th>
              <th>{{ labels.common.table.actions }}</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-progress>
            <tr>
              <td>{{ progress.role }}</td>
              <td>{{ progress.userLabel }}</td>
              <td>{{ formatDateTime(progress.startDate) }} - {{ formatDateTime(progress.endDate) }}</td>
              <td>
                @if (progress.visa.signed) {
                  <p-tag severity="success" [value]="labels.common.statuses.signedBy + ' ' + progress.visa.signedByName"></p-tag>
                } @else {
                  <p-tag severity="warn" [value]="labels.common.statuses.toSign"></p-tag>
                }
              </td>
              <td>{{ progress.visa.signed ? formatDateTime(progress.visa.signedAt) : "-" }}</td>
              <td>
                @if (progress.actionItem) {
                  <div class="row-actions">
                    @if (!progress.visa.signed) {
                      <button
                        pButton
                        type="button"
                        class="p-button-sm"
                        (click)="signProgressVisa(progress)"
                      >
                        <span class="pi pi-pen-to-square" aria-hidden="true"></span>
                        <span>{{ labels.common.actions.sign }}</span>
                      </button>
                    }
                    @if (canDeleteProgressVisa(progress)) {
                      <button
                        pButton
                        type="button"
                        class="p-button-sm p-button-outlined p-button-danger"
                        (click)="deleteProgressVisa(progress)"
                      >
                        <span class="pi pi-trash" aria-hidden="true"></span>
                        <span>{{ labels.common.actions.delete }}</span>
                      </button>
                    }
                  </div>
                }
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="6">{{ labels.common.statuses.noAssociatedVisa }}</td>
            </tr>
          </ng-template>
        </p-table>
      </section>

      <div class="modal-actions">
        @if (!item.visa.signed) {
          <button pButton type="button" (click)="signVisa()">
            <span class="pi pi-pen-to-square" aria-hidden="true"></span>
            <span>{{ labels.common.actions.signMyVisa }}</span>
          </button>
        }
        @if (canDelete) {
          <button
            pButton
            type="button"
            class="p-button-outlined p-button-danger"
            (click)="deleteVisa()"
          >
            <span class="pi pi-trash" aria-hidden="true"></span>
            <span>{{ labels.common.actions.deleteMyVisa }}</span>
          </button>
        }
      </div>
    </section>
  </app-modal>
}
