rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isSignedIn() {
      return request.auth != null;
    }

    match /exceptionalOperations/{operationId} {
      allow read, write: if isSignedIn();
    }

    match /regularOnCallPeriods/{periodId} {
      allow read, write: if isSignedIn();

      match /interventions/{interventionId} {
        allow read, write: if isSignedIn();
      }
    }

    match /settings/{settingDocument} {
      allow read, write: if isSignedIn();

      match /items/{itemId} {
        allow read, write: if isSignedIn();
      }
    }
  }
}
