<app-modal [title]="modalTitle" size="large" (closed)="closed.emit()">
  <form class="period-form" [class.consultation-mode]="isLocked" #periodNgForm="ngForm" (ngSubmit)="save(periodNgForm)">
    <div class="period-summary-grid">
      <label for="regular-period-user">
        {{ labels.common.fields.user }}
        <p-select
          inputId="regular-period-user"
          [options]="users"
          name="regularUser"
          [disabled]="isLocked"
          [ngModel]="form.userId"
          (ngModelChange)="selectUser($event)"
          optionLabel="email"
          optionValue="id"
          [placeholder]="labels.common.users.select"
          appendTo="body"
          styleClass="user-select"
          required
        >
          <ng-template pTemplate="selectedItem" let-user>
            {{ user ? userLabel(user) : labels.common.users.select }}
          </ng-template>
          <ng-template pTemplate="item" let-user>
            {{ userLabel(user) }}
          </ng-template>
        </p-select>
      </label>

      <label for="regular-period-start-date">
        {{ labels.regular.fields.dateStart }}
        @if (isEditing) {
          <input
            pInputText
            id="regular-period-start-date"
            name="regularStartDate"
            [ngModel]="startDateValue"
            (ngModelChange)="updateStartDate($event)"
            required
            type="datetime-local"
            [disabled]="isLocked"
          />
        } @else {
          <input
            pInputText
            id="regular-period-start-date"
            name="regularStartDate"
            [ngModel]="startDateValue"
            (ngModelChange)="updateStartDate($event)"
            required
            type="date"
            [disabled]="isLocked"
          />
        }
      </label>

      <label for="regular-period-end-date">
        {{ labels.regular.fields.dateEnd }}
        @if (isEditing) {
          <input
            pInputText
            id="regular-period-end-date"
            name="regularEndDate"
            [ngModel]="endDateValue"
            (ngModelChange)="updateEndDate($event)"
            required
            type="datetime-local"
            [disabled]="isLocked"
          />
        } @else {
          <input
            pInputText
            id="regular-period-end-date"
            name="regularEndDate"
            [ngModel]="endDateValue"
            (ngModelChange)="updateEndDate($event)"
            required
            type="date"
            [disabled]="isLocked"
          />
        }
      </label>
    </div>

    @if (isEditing) {
      <section class="interventions-section" aria-labelledby="regular-period-interventions-title">
        <div class="section-heading">
          <div>
            <p class="panel-kicker">{{ labels.regular.sections.interventions }}</p>
            <h3 id="regular-period-interventions-title">{{ labels.regular.sections.attachedInterventions }}</h3>
          </div>
          @if (!isLocked) {
            <p-button
              icon="pi pi-plus"
              severity="secondary"
              [outlined]="true"
              size="small"
              [label]="labels.regular.actions.addIntervention"
              (onClick)="addIntervention()"
            ></p-button>
          }
        </div>

        <p-table [value]="interventions" styleClass="interventions-table" [tableStyle]="{ 'min-width': isLocked ? '44rem' : '54rem' }">
          <ng-template pTemplate="header">
            <tr>
              <th scope="col">{{ labels.common.fields.user }}</th>
              <th scope="col">{{ labels.common.table.start }}</th>
              <th scope="col">{{ labels.common.table.end }}</th>
              <th scope="col">{{ labels.common.fields.comment }}</th>
              @if (!isLocked) {
                <th scope="col">{{ labels.common.table.actions }}</th>
              }
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-intervention>
            <tr>
              <td>{{ intervention.userName || intervention.userEmail }}</td>
              <td>{{ formatDateTime(intervention.startDate) }}</td>
              <td>{{ formatDateTime(intervention.endDate) }}</td>
              <td class="comment-cell">{{ intervention.comment || labels.common.empty.dash }}</td>
              @if (!isLocked) {
                <td>
                  <div class="action-cell">
                    <p-button
                      icon="pi pi-pencil"
                      severity="secondary"
                      [rounded]="true"
                      [text]="true"
                      (onClick)="editIntervention(intervention)"
                    ></p-button>
                    <p-button
                      icon="pi pi-trash"
                      severity="danger"
                      [rounded]="true"
                      [text]="true"
                      (onClick)="deleteIntervention(intervention)"
                    ></p-button>
                  </div>
                </td>
              }
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td [attr.colspan]="isLocked ? 4 : 5">{{ labels.regular.empty.noAssociatedIntervention }}</td>
            </tr>
          </ng-template>
        </p-table>
      </section>
    }

    @if (!isLocked) {
      <div class="form-actions">
        <p-button icon="pi pi-save" [disabled]="periodNgForm.invalid" type="submit" [label]="labels.common.actions.save"></p-button>
        @if (isEditing) {
          <p-button icon="pi pi-trash" severity="danger" [outlined]="true" (onClick)="deletePeriod()" [label]="labels.common.actions.delete"></p-button>
        }
      </div>
    } @else {
      <div class="rh-sent-message" role="alert">
        <i class="pi pi-lock" aria-hidden="true"></i>
        <span>
          {{ labels.common.messages.rhSentAt }} <strong>{{ formatDateTime(sentToRhAt) }}</strong>
        </span>
      </div>
    }
  </form>
</app-modal>
