<div class="modal-backdrop" (click)="closed.emit()">
  <section
    class="modal-window"
    [class.modal-window-large]="size === 'large'"
    [class.modal-window-small]="size === 'small'"
    role="dialog"
    aria-modal="true"
    aria-labelledby="modal-title"
    (click)="$event.stopPropagation()"
  >
    <header class="modal-header">
      <h2 id="modal-title">{{ title }}</h2>
      <button class="modal-close" (click)="closed.emit()" title="Fermer" type="button">X</button>
    </header>

    <div class="modal-content">
      <ng-content></ng-content>
    </div>
  </section>
</div>
