<app-modal [title]="labels.exceptional.modal.addIntervention" size="small" (closed)="closed.emit()">
  <form class="operation-form" #interventionNgForm="ngForm" (ngSubmit)="save(interventionNgForm)">
    <label>
      {{ labels.common.fields.user }}
      <p-select
        [options]="users"
        name="interventionUser"
        [ngModel]="form.userId"
        (ngModelChange)="selectUser($event)"
        optionLabel="email"
        optionValue="id"
        [placeholder]="labels.common.users.select"
        appendTo="body"
        styleClass="user-select"
        required
      >
        <ng-template pTemplate="selectedItem" let-user>
          {{ user ? userLabel(user) : labels.common.users.select }}
        </ng-template>
        <ng-template pTemplate="item" let-user>
          {{ userLabel(user) }}
        </ng-template>
      </p-select>
    </label>

    <label>
      {{ labels.regular.fields.dateStart }}
      <input pInputText name="interventionStartDate" [(ngModel)]="form.startDate" required type="datetime-local" />
    </label>

    <label>
      {{ labels.regular.fields.dateEnd }}
      <input pInputText name="interventionEndDate" [(ngModel)]="form.endDate" required type="datetime-local" />
    </label>

    <label class="checkbox-label">
      <p-checkbox name="wasOnSite" [(ngModel)]="form.wasOnSite" [binary]="true"></p-checkbox>
      <span>{{ labels.exceptional.fields.userOnSite }}</span>
    </label>

    @if (error) {
      <p-message severity="error" [text]="error"></p-message>
    }

    <div class="form-actions">
      <p-button icon="pi pi-save" [disabled]="interventionNgForm.invalid" type="submit" [label]="labels.common.actions.add"></p-button>
    </div>
  </form>
</app-modal>
