<app-modal [title]="labels.exceptional.modal.addIntervention" size="small" (closed)="closed.emit()">
  <form class="operation-form" #interventionNgForm="ngForm" (ngSubmit)="save(interventionNgForm)">
    <label>
      {{ labels.common.fields.user }}
      <select
        class="user-select"
        name="interventionUser"
        [ngModel]="form.userId"
        (ngModelChange)="selectUser($event)"
        required
      >
        <option value="">{{ labels.common.users.select }}</option>
        @for (user of users; track user.id) {
          <option [ngValue]="user.id" [title]="userLabel(user)">{{ userLabel(user) }}</option>
        }
      </select>
    </label>

    <label>
      {{ labels.regular.fields.dateStart }}
      <input name="interventionStartDate" [(ngModel)]="form.startDate" required type="datetime-local" />
    </label>

    <label>
      {{ labels.regular.fields.dateEnd }}
      <input name="interventionEndDate" [(ngModel)]="form.endDate" required type="datetime-local" />
    </label>

    <label class="checkbox-label">
      <input name="wasOnSite" [(ngModel)]="form.wasOnSite" type="checkbox" />
      <span>{{ labels.exceptional.fields.userOnSite }}</span>
    </label>

    @if (error) {
      <p class="error-message">{{ error }}</p>
    }

    <div class="form-actions">
      <button class="primary-button" [disabled]="interventionNgForm.invalid" type="submit">{{ labels.common.actions.add }}</button>
    </div>
  </form>
</app-modal>
